apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - rbac.yaml
  - service.yaml
  - statefulset.yaml
  - pdb.yaml
  - hpa.yaml
  - configmap.yaml
  - otel-collector.yaml



images:
  - name: scheduled-db
    newName: scheduled-db
    newTag: v302

replicas:
  - name: scheduled-db
    count: 3
