apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - rbac.yaml
  - service.yaml
  - statefulset.yaml
  - pdb.yaml
  - hpa.yaml
  - configmap.yaml
  - monitoring/prometheus-config.yaml
  - monitoring/prometheus-deployment.yaml
  - monitoring/grafana-config.yaml
  - monitoring/grafana-deployment.yaml
  - monitoring/otel-collector.yaml

images:
  - name: scheduled-db
    newName: scheduled-db
    newTag: v300

replicas:
  - name: scheduled-db
    count: 3
